.container {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
  overflow-y: scroll;
}

.container .resume {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.container .resume .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .resume .info .inner {
  width: 90%;
  display: flex;
  height: 38px;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  margin: 0 0 0 10px;
}

.container .resume .info .inner .name {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 700;
}

.container .resume .info .inner .desc {
  color: #919191;
  font-weight: 500;
  font-size: 0.89rem;
}

.container .lista {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  font-family: "Raleway";
}

.container .lista > p {
  font-weight: 600;
  font-size: 1.35rem;
}

.container .lista .items {
  width: 100%;
  height: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.container .lista .items .row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
    margin-bottom: 20px;

}

.container .lista .items .row2 {
  width: 66% !important;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}
.container .lista .items .row1 .item {
  width: 117px;
  height: 138px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .lista .items .row1 .item .inner {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container .lista .items .row1 .item .inner .icon {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 8.2px 0 rgba(0, 0, 0, 0.274);
}

.container .lista .items .row1 .item .inner > p {
  font-weight: 600;
}

@media only screen and (max-width: 320px) {
  .container {
    height: 110vh;
  }

  .container .lista .items .row1 {
    margin-bottom: 20px;
  }

  .container .lista .items .row1 .item {
    width: 90px;
    height: 118px;
  }

  .container .lista .items .row1 .item .inner > p {
    font-size: 0.8rem;
  }

  .container .lista .items {
    width: 100%;
    margin-bottom: 30px;
  }
}
