.container {
  width: 100%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
  background: #3c3451 center/cover no-repeat !important;
}

.container .top {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 0 0;
  
}

.container .top > p {
  color: #d4d4d4;
}

.container .top > h2 {
  color: #f2f2f2;
}

.container .items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.container .items .item {
  width: 90%;
  height: 30vh;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.container .items .item .image {
  width: 100%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-image: url(/img/bg-pg.jpeg);
}

.container .items .item .desc {
  width: 100%;
  height: 30%;
  background: #f3f0f9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .items .item .desc .in {
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 0 0 15px;
  text-align: start;
}

.container .items .item .desc .in>h3{
    font-family: 'montserrat';
    margin: 0 0 0 10px;
    
}
