.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f7ff !important;
  align-items: center;
  overflow: hidden;
  font-family: "inter", sans-serif;
  padding: 10px 0 0 0;
}

.container .foto{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}

.container .foto>h2{
    font-weight: 500;
    font-size: 1.4rem;
    margin: 20px 0 0 0;
}

.container .info{
    width: 90%;
    height: 45vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.container .info .items{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.container .qrcode{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 120px 0;
}
.dark_g{
    color: #6C727F;
font-weight: 200;
}

.primary{
    color: var(--primary);
}

.success{
    color: #0EBC29;
    font-family: "Montserrat";
    font-weight: 600;
}