.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f7ff !important;
  padding: 20px 0 0 0;
}
.container .innercard {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .card {
  width: 90%;
  height: 25vh;
  background: #fff;
  border: 3px dashed var(--primary);
  border-radius: 30px;
  font-family: "inter";
}

.container .card .inner {
  padding: 20px 10px 20px 10px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .card .inner > p {
  padding: 0 0 0 7px;
  color: #919191;
}
.container .card .in {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 10px 0 0 0;
}

.container .card .inner .in .icon {
  width: 20%;
  align-items: end;
}
.container .card .in .subin {
  width: 45%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .card .in .subin2 {
  width: 27%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}

.container .card .in2 {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
  /* background: #000; */
}

.container .card .in2 .subin {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .cta {
  width: 100%;
  height: 17svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0 0;
  z-index: 9;
}

.success {
  color: #0ebc29;
  font-weight: 600;
}

.btn_light {
  color: #6c5f8d !important;
  background-color: #fff !important;
  border: 1px solid #6c5f8d !important;
}

@media only screen and (max-width: 320px) {
  .container {
    min-height: 120vh;
  }

  .container .card {
    height: 45vh;
  }

  .container .card .in2 {
    margin: 20px 0 0 0;
  }

  .container .cta {
    height: 23vh;
  }
}
