.container {
  width: 100%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px 0 0 0;
  background: #f5f7ff !important;
  margin: 0 0 80px 0;
}

.container .top {
  margin: 40px 0 0 0;
  width: 80%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "inter";
  font-weight: 600;
  font-size: 1.1rem;
}

.info {
  width: 90%;
  height: 24vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px 0 0 0;
  border-radius: 20px;
  font-family: "Montserrat";
}

.info .items {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 0.9rem;
}

.details {
  width: 88%;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 0;
  font-family: "Montserrat";
}

.details > p {
  font-weight: 600;
}

.details .range {
  width: 100%;
  height: 24vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px 0 0 0;
  border-radius: 20px;
  font-family: "inter";
}

.details .range .in {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
}

.details .range .in .valor {
  padding: 14px;
  background-color: #e8e3e3;
  border-radius: 10px 20px;
  font-size: 0.8rem;
}

.confirmar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
}

.success {
  color: #0ebc29;
  font-weight: 600;
}

.dark_g {
  color: #9eabc4;
}

@media only screen and (max-width: 320px) {
  .container {
    min-height: 160vh;
  }

  .info {
    height: 42vh;
  }
  .anoA {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: end;
  }
}
