.container {
  width: 100%;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f7ff !important;
  padding: 20px 0 0 0;
}

.container .art {
  width: 90%;
  height: 45vh;
  flex-direction: column;
  align-items: center;
  background-image: url(/bg/confetti.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.container .art .art1 {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .info {
  width: 85%;
  height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0 0 0;
}

.container .info > h1 {
  color: var(--primary);
}

.container .info > p {
  color: #131313;
  font-family: "raleway";
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
}

.container .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}

@media only screen and (max-width: 320px) {
  .container {
    min-height: 140vh;
  }

  .container .info > h1 {
    font-size: 1.5rem;
  }
}
