.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  padding: 10px 0 0 0;
  overflow-y: scroll;
}

.container .resume {
  width: 92%;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.container .resume .info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .resume .info .inner {
  display: flex;
  height: 38px;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

.container .resume .info .inner .name {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.94rem;
  font-weight: 700;
}

.container .resume .info .inner .desc {
  color: #919191;
  font-weight: 500;
  font-size: 0.89rem;
}

.container .resume .btn {
  display: flex;
  align-items: center;
}

.container .resume .btn .extracto {
  padding: 12px 19px;
  color: #06d001;
  background-color: #bef3bd;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.container .movimentos {
  width: 90%;
  background-color: #f3f0f9;
  height: 100vh;
  overflow-y: scroll;
  border-radius: 10px;
  margin: 40px 0 100px 0;
}

.container .movimentos .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Montserrat";
  color: var(--primary);
  font-weight: 500;
}

.container .movimentos .top .subtitle {
  font-weight: 600 !important;
}

.container .movimentos .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.container .movimentos .details .icon {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .movimentos .details .desc {
  width: 45%;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Montserrat";
}

.container .movimentos .details .desc > p {
  font-size: 0.9rem;
  font-weight: 500;
}

.container .movimentos .details .desc > small {
  margin: 2px;
  color: var(--primary);
}

.container .movimentos .details .amount {
  width: 32%;
  display: flex;
  font-family: "Poppins";
  font-size: 0.9rem;

  font-weight: 600;
}

.danger {
  color: #ec4242;
}

.success {
  color: #65b228;
}
